/build/
target
classes
checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-*
.nrepl-port
.hgignore
.hg/
*.swp
.DS_Store
*.iml
.idea/
infra/terraform.tfvars

infra/.terraform/
infra/.terraform.lock.hcl
# Terraform files
infra/*.tfstate.backup
infra/*.tfstate
